.masthead {
  padding-top: calc(0.1rem + 74px);
  padding-bottom: 3rem;
  .masthead-heading {
    font-size: 3.75rem;
    line-height: 3.75rem;
  }

  .masthead-subheading {
    // font-size: 1.55rem;
    line-height: 2.75rem;
  }
  .fa-icon-container {
    display: inline-flex;
  }
  .fa-icon {
    font-size: x-large;
    color: white;
    padding: 0 1em;
  }

  p {
    font-size: 1.5rem;
  }
  .masthead-avatar {
    width: 15rem;
  }
}

@include media-breakpoint-up(lg) {
  .masthead {
    padding-top: calc(0.1rem + 104px);
    padding-bottom: 3rem;
    .masthead-heading {
      font-size: 4rem;
      line-height: 3.5rem;
    }
    .masthead-subheading {
      font-size: 2.5rem;
    }

  }
}
